.footer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding-bottom: 5rem;
	border-bottom: var(--border);
}

.boxText {
	display: grid;
	gap: 2rem;
	p {
		color: var(--grey);
		max-width: 22rem;
	}
}

.boxLinks {
	display: flex;
	justify-content: space-between;
	div {
		h4 {
			margin-bottom: 2rem;
		}
		ul {
			display: grid;
			gap: 1.25rem;
		}
	}
}
