@import 'normalize.css';

@import './scss/reset';
@import './scss/vars';
@import './scss/media';
@import './scss/mixins';
@import './scss/container';
@import './scss/fonts';

body {
  font-family: var(--font-family);
  color: var(--ligth);
  background: var(--bg);
}

.h2 {
  font-weight: 500;
  font-size: 3rem;
  line-height: 112%;
  color: #fff;
}

.h3 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 100%;
  color: #fff;
}

p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  color: var(--p-grey);
}

img {
  border-radius: .6rem;
  object-fit: cover;
}